<div class="animated lightSpeedIn jumbotron row" style="padding-top: 80px">
  <div *ngIf="success" class="alert alert-primary" role="alert">
    process successfully!
  </div>
  <div *ngIf="error" class="alert alert-danger" role="alert">
    process not successfully!
  </div>
  <div class="col-md-4">
    <form class="form-inline md-form form-sm active-cyan active-gray-2">
      <i (click)="searchByID(idinput.value)" class="fas fa-search" aria-hidden="true"></i>
      <input #idinput class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search by customer id"
             aria-label="Search"
             mdbInput>
    </form>
  </div>
  <div class="col-md-4">
    <form class="form-inline md-form form-sm active-cyan active-cyan-2">
      <i (click)="searchByEmail(emailinput.value)" class="fas fa-search" aria-hidden="true"></i>
      <input #emailinput class="form-control form-control-sm ml-3 w-75" type="text"
             placeholder="Search by customer email"
             aria-label="Search"
             mdbInput>
    </form>
  </div>
  <div class="col-md-12">
    <!-- Default form register -->
    <form class="text-center border border-light p-5 z-depth-2">

      <p class="h4 mb-4" style="font-family: 'Sitka Text'">Customer Detail</p>

      <div class="form-row mb-4">
        <div class="col">
          <!-- Last name -->
          <!--<div id="defaultRegisterFormLastName" class="md-form" placeholder="Last name">-->
          <input mdbInput type="text" name="firstname" [(ngModel)]="selectedCustomer.cusfirstname" required
                 pattern="[a-zA-z]{4,}"
                 id="form1l" placeholder="First Name" class="form-control">
          <!--<label for="form1" class="">Example label</label>-->
          <!--</div>-->
        </div>
        <div class="col">
          <!-- Last name -->
          <!--<div id="defaultRegisterFormLastName" class="md-form" placeholder="Last name">-->
          <input mdbInput type="text" name="lastname" [(ngModel)]="selectedCustomer.cuslastname" required
                 pattern="[a-zA-z]{4,}"
                 id="form1" placeholder="Last Name" class="form-control">
          <!--<label for="form1" class="">Example label</label>-->
          <!--</div>-->
        </div>
      </div>

      <div class="form-row mb-4">
        <div class="col">
          <!-- Last name -->
          <!--<div id="defaultRegisterFormLastName" class="md-form" placeholder="Last name">-->
          <input mdbInput type="text" name="cusemail" [(ngModel)]="selectedCustomer.cusemail" regular
                 pattern="^(.+)@(.+)$"
                 id="form2" placeholder="Customer Email" class="form-control">
          <!--<label for="form1" class="">Example label</label>-->
          <!--</div>-->
        </div>
        <div class="col">
          <!-- Last name -->
          <!--<div id="defaultRegisterFormLastName" class="md-form" placeholder="Last name">-->
          <input mdbInput type="text" id="form3" name="cusphone" [(ngModel)]="selectedCustomer.cusphonenum" required
                 pattern="[0-9]{10}"
                 placeholder="Customer Tel" class="form-control">
          <!--<label for="form1" class="">Example label</label>-->
          <!--</div>-->
        </div>
      </div>

    </form>
    <!-- Default form register -->
  </div>
  <div class="col-md-12 d-flex justify-content-end mt-3">
    <button class="rounded-pill" outline="true" mdbBtn type="button" color="danger" (click)="clearCustomer()"
            mdbWavesEffect>
      <mdb-icon class="mr-1" fas icon="radiation-alt"></mdb-icon>
      Clear
    </button>
    <button class="rounded-pill" outline="true" mdbBtn type="button" color="danger" (click)="deleteCustomer()"
            mdbWavesEffect>
      <mdb-icon class="mr-1" far icon="trash-alt"></mdb-icon>
      Delete
    </button>
    <button class="rounded-pill" outline="true" mdbBtn type="button" color="warning" (click)="updateCustomer()"
            mdbWavesEffect>
      <mdb-icon class="mr-1" far icon="edit"></mdb-icon>
      Update
    </button>

  </div>
  <div class="col-md-12 mt-3">
    <table mdbTable>
      <thead class="stylish-color-dark #3E4551 white-text">
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
      </thead>
      <tbody>
      <tr style="cursor: pointer" mdbTableCol *ngFor="let el of customerArray" (click)="selectTableData(el)">
        <th scope="row">{{el.cusid}}</th>
        <td>{{el.cusfirstname}}</td>
        <td>{{el.cuslastname}}</td>
        <td>{{el.cusemail}}</td>
        <td>{{el.cusphonenum}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ngx-spinner
  bdOpacity=0.9
  size="medium"
  color="#b6bbba"
  type="ball-fussion"
  [fullScreen]="true"
>
  <p style="color: white"> Loading... </p>
</ngx-spinner>
