<div class="animated lightSpeedIn jumbotron row" style="padding-top: 80px">
  <div class="col-md-12 d-flex justify-content-start mb-3">
    <button mdbBtn routerLink="/main/dashboard" class="#bf360c deep-orange darken-4 rounded-pill" cltype="button"
            rounded="true" style="color: white" mdbWavesEffect>Back
    </button>
  </div>
  <!--<div class="col-md-6 d-flex justify-content-end mt-3 mb-3">-->
  <!--<button mdbBtn routerLink="/main/order" class="#7283a7 mdb-color lighten-2 rounded-pill" cltype="button" rounded="true" style="color: white" mdbWavesEffect>Next</button>-->
  <!--</div>-->
  <div class="col-md-12">
    <!-- Default form register -->
    <form #frmCustomer="ngForm" class="text-center border border-light p-5 z-depth-2">

      <p class="h4 mb-4" style="font-family: 'Sitka Text'">Order Detail</p>

      <div class="form-row mb-4">
        <div class="col">
          <!-- First name -->
          <select (change)="selectValues($event)" type="text" id="defaultRegisterFormFirstName" class="form-control"
                  placeholder="First name"
                  class="browser-default custom-select">
            <option *ngFor="let orid of itemArray" value="{{orid.itemname}}">{{orid.itemname}}</option>
          </select>
        </div>
        <div class="col">
          <!-- Last name -->
          <!--<div id="defaultRegisterFormLastName" class="md-form" placeholder="Last name">-->
          <input mdbInput type="text" id="form1" placeholder="Unit Price" name="unitprice"
                 [(ngModel)]="selectedOrderDetail.unitprice" class="form-control">
          <!--<label for="form1" class="">Example label</label>-->
          <!--</div>-->
        </div>
      </div>

      <div class="form-row mb-4">
        <div class="col">
          <!-- Last name -->
          <!--<div id="defaultRegisterFormLastName" class="md-form" placeholder="Last name">-->
          <input mdbInput type="text" id="form2" placeholder="Qunatity On Hand" name="qty" #qtyinput
                 (keyup)="changeTotal(qtyinput.value)" [(ngModel)]="selectedOrderDetail.qty" class="form-control">
          <!--<label for="form1" class="">Example label</label>-->
          <!--</div>-->
        </div>
        <div class="col">
          <!-- Last name -->
          <!--<div id="defaultRegisterFormLastName" class="md-form" placeholder="Last name">-->
          <input mdbInput type="text" id="form3" placeholder="Total Price" name="totprice"
                 [(ngModel)]="selectedOrderDetail.totalprice" class="form-control">
          <!--<label for="form1" class="">Example label</label>-->
          <!--</div>-->
        </div>
      </div>

    </form>
    <!-- Default form register -->
  </div>
  <div class="col-md-12 d-flex justify-content-end mt-3">
    <button (click)="clearData()" class="rounded-pill" outline="true" mdbBtn type="button" color="danger"
            mdbWavesEffect>
      <mdb-icon class="mr-1" fas icon="radiation-alt"></mdb-icon>
      Clear
    </button>
    <button class="rounded-pill" outline="true" mdbBtn type="button" color="danger" mdbWavesEffect>
      <mdb-icon class="mr-1" far icon="trash-alt"></mdb-icon>
      Delete
    </button>
    <button class="rounded-pill" (click)="addData()" outline="true" mdbBtn type="button" color="warning" mdbWavesEffect>
      <mdb-icon class="mr-1" far icon="edit"></mdb-icon>
      Add
    </button>
    <button class="rounded-pill" mdbBtn type="button" outline="true" color="default" mdbWavesEffect>
      <mdb-icon class="mr-1" far icon="save"></mdb-icon>
      Save
    </button>
    <!--<button mdbBtn color="primary" type="button" disabled>-->
    <!--<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>-->
    <!--Loading...-->
    <!--</button>-->
  </div>
  <div class="col-md-12 mt-3">
    <table mdbTable>
      <thead class="stylish-color-dark #3E4551 white-text">
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
      </thead>
      <tbody>
      <tr mdbTableCol *ngFor="let el of orderDetailArray">
        <th scope="row">{{el.itemid}}</th>
        <td>{{el.itemname}}</td>
        <td>{{el.unitprice}}</td>
        <td>{{el.qty}}</td>
        <td>{{el.totalprice}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

